* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Flex", Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    border: black 1px solid;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    border-right: grey 1px solid;
    padding: 20px;
    width: 100%;
    
}

/* Main */
.main {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: auto; 
}

.content-body {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    gap: 20px;
    padding:  20px; 
}

/* Secciones */
.header {
    border-bottom: grey 1px solid;
    height: 60px;
}

.dashboard {
    height: 80px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    border: black 1px solid;
    height: 120px;
}

.calendar {
    border: black 1px solid;
    height: 180px;
}

.bottom-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.tasks,
.streak {
    border: black 1px solid;
    min-height: 400px;
}