<div class="greeting_main">
    <div class="greeting_main-text">
        <p class="greeting_top-text" id="hoy"><span id="dayName"></span> &middot; Semana <span id="week"></span> &middot;
            <span id="month"></span> <span id="year"></span></p>
        <h2>Buenas tardes, Tu.</h2>
        <p>Tienes <strong>3 tareas activas</strong> y <b>1 vencida</b>. Vas en racha de <strong> 17 dias</strong>
            productivos.
        </p>
    </div>
    <div class="greeting_botton">
        <button class="btn-active">DÍA</button>
        <button class="btn-inactive">SEMANA</button>
        <button class="btn-inactive">MES</button>
        <button class="btn-inactive">AÑO</button>
    </div>
</div>