<header class="header_main">
    <div class="header_main-input">
        <p> ORGANIZADOR &middot; DASHBOARD </p>
        <input type="text" name="search" id="search" placeholder="Buscar tareas, etiquetas, categorías...">
    </div>
    <div class="header_main-botton_container">
        <div class="header_main-botton_icon">
            <span class="clarity--notification-line"></span>
            <span class="ph--moon-light"></span>
            <span class="mdi-light--settings"></span>
        </div>
        <div class="header_main-botton_btn">
            <button>&plus; Nueva Tarea</button>

        </div>
    </div>
</header>