<div class="sidebar_main">
    <div class="sidebar_main-title">
        <div class="sidebar_main-title-logo-text">
            <div class="sidebar_main-title-logo">
                <img src="../assets/image/icon-flujo.png" alt="icon-flujo" width="20px" height="20px">
            </div>
            <div class="sidebar_main-title-text">
                <h4>Flujo</h4>
                <p>ORGANIZADOR PERSONAL</p>
            </div>
        </div>
        <div class="sidebar_main-title-btn">
            <button>&plus; Nueva Tarea</button>
        </div>
    </div>
    <div class="sidebar_main-nav">
        <p class="sidebar_main-nav-title">NAVEGACION</p>
        <ul class="sidebar_main-nav-item">
            <li class="active">Dashboard</li>
            <li class="inactive">Hoy</li>
            <li class="inactive">Semanal</li>
            <li class="inactive">Mensual</li>
            <li class="inactive">Todas</li>
            <li class="inactive">Metas</li>
            <li class="inactive">Analiticas</li>
        </ul>
        <p class="sidebar_main-nav-title">CATEGORIAS</p>
        <ul class="sidebar_main-nav-item">
            <li class="inactive">Estudios</li>
            <li class="inactive">Trabajo</li>
            <li class="inactive">Personal</li>
            <li class="inactive">Salud</li>
        </ul>
        <button>&plus; Nueva Categoria</button>
    </div>
    <div class="sidebar_main-botton">
        <div class="sidebar_main-botton-logo">
            <p>TT</p>
        </div>
        <div class="sidebar_main-botton-text">
            <span>Tu Terror</span>
            <p>Plan Pro &middot; 17d Racha</p>
        </div>
        <div class="sidebar_main-botton-icon">
            <span class="ph--moon-light"></span>
        </div>
    </div>
</div>